[Unit]
Description=Check GPS Sensor main branch for deployments

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Persistent=true
Unit=gpssensor-deploy.service

[Install]
WantedBy=timers.target
